/*-----------------------------------------------------------------------------
| Copyright (c) 2014-2015, S. Chris Colbert
|
| Distributed under the terms of the BSD 3-Clause License.
|
| The full license is in the file LICENSE, distributed with this software.
|----------------------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  background: #F5F6F7;
}


#input-container {
  padding: 5px;
}


#main {
  position: absolute;
  overflow: hidden;
  top: 35px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 1px solid #DDDDDD;
}


.p-ListView {
  padding-left: 5px;
}


.p-ListView > .p-ScrollBar.p-mod-vertical {
  min-width: 17px;
  background: #BBBBBB;
  padding: 2px;
  & > .p-ScrollBar-slider {
    width: 13px;
    background: #303030;
    min-height: 17px;
    border-radius: 7px;
  }
}
