/*-----------------------------------------------------------------------------
| Copyright (c) 2014-2015, S. Chris Colbert
|
| Distributed under the terms of the BSD 3-Clause License.
|
| The full license is in the file LICENSE, distributed with this software.
|----------------------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  background: #F5F6F7;
}


#main {
  position: absolute;
  overflow: hidden;
  border: 1px solid black;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  > .p-BoxPanel {
    padding: 8px;
  }
}


.red {
  padding: 8px;
  background: #E74C3C;
}


.yellow {
  padding: 8px;
  background: #F1C40F;
}


.green {
  padding: 8px;
  background: #27AE60;
}


.blue {
  padding: 8px;
  background: #3498DB;
}


.content {
  text-align: center;
  font: 15px Helvetica;
  background: #DDDDDD;
  border: 1px solid #555555;
  min-width: 60px;
  min-height: 25px;
  max-height: 25px;
  > span {
    line-height: 25px;
  }
}
