/*-----------------------------------------------------------------------------
| Copyright (c) 2014-2015, S. Chris Colbert
|
| Distributed under the terms of the BSD 3-Clause License.
|
| The full license is in the file LICENSE, distributed with this software.
|----------------------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  background: #F5F6F7;
}


#main {
  display: flex;
  flex-direction: row;
  position: absolute;
  overflow: hidden;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}


#col-1, #col-2 {
  flex: 1 1 50%;
  position: relative;
  border: 1px solid #DDDDDD;
}


#col-1 {
  margin-right: 10px;
}


.p-CodeMirrorComponent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
