/*-----------------------------------------------------------------------------
| Copyright (c) 2014-2015, S. Chris Colbert
|
| Distributed under the terms of the BSD 3-Clause License.
|
| The full license is in the file LICENSE, distributed with this software.
|----------------------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
}


#main {
  padding: 10px;
}


.p-TabBarComponent {
  position: relative;
}


.p-TabBarComponent-tab {
  padding: 4px;
  min-width: 20px;
  font: 12px Helvetica, Arial, sans-serif;
  background: #E5E5E5;
  border: 1px solid #C0C0C0;
  &.p-mod-selected {
    background: white;
  }
  &:hover:not(.p-mod-selected) {
    background: #F0F0F0;
  }
  &:not(:first-child) {
    margin-left: -1px;
  }
}
