/*-----------------------------------------------------------------------------
| Copyright (c) 2014-2015, S. Chris Colbert
|
| Distributed under the terms of the BSD 3-Clause License.
|
| The full license is in the file LICENSE, distributed with this software.
|----------------------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
}


#main {
  position: absolute;
  overflow: hidden;
  top: 10px;
  left: 10px;
  right: 10px;
  height: 24px;
}


.p-TabBar {
  min-height: 24px;
  &::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    content: '';
    z-index: 0;
    background: #C0C0C0;
  }
}


.p-TabBar-inner {
  bottom: 1px;
  z-index: 1;
  > .p-Tab {
    font: 12px Helvetica, Arial, sans-serif;
    height: 21px;
    padding: 0px 10px;
    background: #E5E5E5;
    border: 1px solid #C0C0C0;
    border-bottom: none;
    &.p-mod-selected {
      height: 24px;
      background: white;
      transform: translateY(1px);
    }
    &:hover:not(.p-mod-selected) {
      background: #F0F0F0;
    }
    > span {
      line-height: 21px;
    }
  }
}
