/*-----------------------------------------------------------------------------
| Copyright (c) 2014-2015, S. Chris Colbert
|
| Distributed under the terms of the BSD 3-Clause License.
|
| The full license is in the file LICENSE, distributed with this software.
|----------------------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
}


#main {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.chat-room-list-host {
  min-width: 175px;
  min-height: 250px;
  background: #3498DB;
}


.chat-open-rooms-host {
  min-width: 500px;
  min-height: 250px;
  background: white;
}


.chat-feed-host {
  min-height: 100px;
  background: #FAFAFA;
  border-top: 1px solid #EAEAEA;
}


.chat-room-list {
  padding: 5px;
  height: 100%;
  color: #FAFAFA;
  font-family: Arial;
  > h2 {
    text-align: center;
  }
}


.chat-feed
.chat-open-rooms {
  padding: 5px;
  height: 100%;
  color: #202020;
  font-family: Arial;
  > h2 {
    text-align: center;
  }
}
