/*-----------------------------------------------------------------------------
| Copyright (c) 2014-2015, S. Chris Colbert
|
| Distributed under the terms of the BSD 3-Clause License.
|
| The full license is in the file LICENSE, distributed with this software.
|----------------------------------------------------------------------------*/
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}


#container {
  width: 100%;
}


#content {
  padding-left: 10px;
}


.p-MenuBar {
  position: static;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  min-height: 24px;
  padding-left: 5px;
  background: #FAFAFA;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid #DDDDDD;
  font: 13px Helvetica, Arial, sans-serif;
}


.p-MenuBar-item {
  padding: 4px 8px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  &.p-mod-active {
    background: #E5E5E5;
  }
  &.p-mod-disabled {
    color: rgba(0, 0, 0, 0.26);
  }
  &.p-mod-active.p-mod-selected {
    z-index: 1000000;
    background: white;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  }
  &.p-mod-separator-type {
    border-left: 1px solid #DDDDDD;
  }
}


.p-MenuBar-menu {
  transform: translateY(-1px);
}


.p-Menu {
  background: white;
  color: rgba(0, 0, 0, 0.87);
  border: 1px solid #C0C0C0;
  font: 12px Helvetica, Arial, sans-serif;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
}


.p-Menu-item {
  &.p-mod-active {
    background: #E5E5E5;
  }
  &.p-mod-disabled {
    color: rgba(0, 0, 0, 0.26);
  }
  &.p-mod-separator-type > span::after {
    border-top: 1px solid #DDDDDD;
  }
}


.p-Menu-item-icon::before,
.p-Menu-item-submenu-icon::before {
  font-family: FontAwesome;
}


.p-Menu-item.p-mod-check-type.p-mod-checked > .p-Menu-item-icon::before {
  content: '\f00c';
}


.p-Menu-item.p-mod-has-submenu > .p-Menu-item-submenu-icon::before {
  content: '\f0da';
}


.p-Menu-item.copy > .p-Menu-item-icon::before {
  content: '\f0c5';
}


.p-Menu-item.cut > .p-Menu-item-icon::before {
  content: '\f0c4';
}


.p-Menu-item.paste > .p-Menu-item-icon::before {
  content: '\f0ea';
}


.p-Menu-item.close > .p-Menu-item-icon::before {
  content: '\f00d';
}


.p-Menu-item.undo > .p-Menu-item-icon::before {
  content: '\f0e2';
}


.p-Menu-item.repeat > .p-Menu-item-icon::before {
  content: '\f01e';
}
