/*-----------------------------------------------------------------------------
| Copyright (c) 2014-2015, S. Chris Colbert
|
| Distributed under the terms of the BSD 3-Clause License.
|
| The full license is in the file LICENSE, distributed with this software.
|----------------------------------------------------------------------------*/
.p-MenuBar-content {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}


.p-MenuBar-item {
  box-sizing: border-box;
  &.p-mod-hidden
  &.p-mod-force-hidden {
    display: none;
  }
}


.p-MenuBar-item.p-mod-separator-type {
  margin: 2px;
  padding: 0;
  border: none;
}
