/*-----------------------------------------------------------------------------
| Copyright (c) 2014-2015, S. Chris Colbert
|
| Distributed under the terms of the BSD 3-Clause License.
|
| The full license is in the file LICENSE, distributed with this software.
|----------------------------------------------------------------------------*/
.p-TabBarComponent {
  user-select: none;
  cursor: default;
}


.p-TabBarComponent-inner {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
}


.p-TabBarComponent-tab {
  display: flex;
  flex-direction: row;
  flex-basis: 125px;
  overflow: hidden;
}


.p-TabBarComponent-tab-icon
.p-TabBarComponent-tab-close-icon {
  flex: 0 0 auto;
}


.p-TabBarComponent-tab-text {
  flex: 1 1 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
