/*-----------------------------------------------------------------------------
| Copyright (c) 2014-2015, S. Chris Colbert
|
| Distributed under the terms of the BSD 3-Clause License.
|
| The full license is in the file LICENSE, distributed with this software.
|----------------------------------------------------------------------------*/
.p-Widget {
  box-sizing: border-box;
  position: absolute;
  user-select: none;
  overflow: hidden;
  cursor: default;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  &.p-mod-hidden {
    display: none;
  }
}
